*{
    box-sizing: border-box;
}
.main-container{
    display: flex;
    justify-content: center;
    background: #000;
    height: 500px;
    margin: 100px 200px;
}
.result{
    grid-area: a-result;
}
.clear{
    grid-area: a-clear;
}
.backspace{
    grid-area:a-back;
}
.devide{
    grid-area: a-devide;
}
.seven{
    grid-area: a-seven;
}
.eight{
    grid-area: a-eight;
}
.nine{
    grid-area: a-nine;
}
.multi{
    grid-area: a-multi;
}
.four{
    grid-area: a-four;
}
.five{
    grid-area: a-five;
}
.six{
    grid-area:a-six;
}
.sub{
    grid-area: a-sub;
}
.one{
    grid-area: a-one;
}
.two{
    grid-area: a-two;
}
.three{
    grid-area: a-three;
}
.add{
    grid-area: a-add;
}
.zero{
    grid-area: a-zero;
}
.equal{
    grid-area: a-equal;
}
.container{
    display: grid;
    grid-template-areas: "a-result a-result a-result a-result"
                          "a-clear a-clear ";
}