*{
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main-container {
    background-color: #eae66a;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    overflow: hidden;
   
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding: 20px;
    
}

.result {
    grid-column: span 4;
    text-align: right;
    background-color: #1b0b0b;
    color: white;
    padding: 10px;
    font-size: 24px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    font-size: 20px;
    padding: 10px;
    background: hsl(238, 15%, 33%);
    border-radius: 20px;
    border: none;
    cursor: pointer;
    box-shadow: 10px 10px 10px black;
   
    
}
.front{
    display: block;
    padding: 8px 26px;
    font-size: 1.25rem;
    color: white;
    transform: translateY(-6px);
    margin: 10px;
    width: 5px;
    text-align: center;

}

button.clear {
    background-color: #ff4b4b;
}

button.equal {
    background-color: #00c851;
}
button:active {
    transform: translateY(2px);
    box-shadow: none;
}
.front:active{
    transform: translateY(-2px);
}
@media screen and (max-width: 400px){
    .container{
        display: grid;
        grid-gap: 1px;
        padding: 1px;
        
   }
   button{
    padding: 1px;
    height: auto;
    
   }
   .front{
    display: flex;
    padding: 2px 12px;
   }

    
}